*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: hsl(0, 0%, 94%);
  font-family: 'poppins', sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.card{
  margin: auto;
  align-self: center;
  padding: 2rem;
  max-width: 500px;
  border-radius: 5% 5% 25% 5%;
  background-color: hsl(0, 0%, 100%);
}

.form-wrap{
  display: flex;
  gap: 1rem;
}

.form-group label{
  font-weight: 400;
  display: block;
  color: hsl(0, 1%, 44%);
}

.form-group input{
  font-weight: 700;
  width: 60%;
  padding: 10px;
  border: hsl(0, 0%, 86%) 1px solid;
  border-radius: 5px;
}

.form-group:hover input{
  border: hsl(259, 100%, 65%) 1px solid;
}

svg{
  background-color: hsl(259, 100%, 65%);
  border-radius: 50%;
}

svg:hover{
  background-color: hsl(0, 0%, 8%);
}

.arrow{
  display: flex;
}

.arrow div{
  height: 0.1px;
  width: 100%;
  margin: auto 0;
  border: none;
  border-bottom: hsl(0, 0%, 86%) 0.1px solid;
}

h1{
  font-size: 4rem;
  font-weight: 800;
  font-style: italic;
}

h1 span{
  color: hsl(259, 100%, 65%); 
}

/* mobile screen */
@media(max-width: 450px){

  .card{
    margin: auto;
  }

  .form-wrap{
    margin-bottom: 2rem;
  }

  .arrow{
    position: relative;
    margin-bottom: 2rem;
  }

  svg{

    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
  }
}